SUPABASE_URL="https://alfztvonnruoiawgfbtb.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsZnp0dm9ubnJ1b2lhd2dmYnRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDI3MTc0OTgsImV4cCI6MjAxODI5MzQ5OH0.Tiy2wUmlt_RSCtr-pjG6rbhIzBP_lAQi3oKWcdL43ss"